.afficher-auto {
    padding: .1rem;
    display: grid;
    grid-template-columns: 2% 70% 28%;
    justify-items: center;
}

h1 {
    color: #1477d4;
}

label {
    font-size: 13px;
    color: #2d2f3b;
    font-weight: 700;
}

form {
    margin: 1px;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3px;
    grid-column: 2;
}

input,  select {
    height: 3rem;
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.418);
    transition: all .3s;
    margin-bottom: .7rem;
}

textarea {
    border-radius: 3px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.418);
    transition: all .3s;
    margin-bottom: .7rem;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 0 4px #1477d4;
    border: none;
}

button {
    width: 300px;
    font-size: 14px;
    margin-top: 1rem;
    justify-self: center;
    padding: 2rem;
    color: white;
    font-weight: 700;
    background-color: #1477d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1d5c97;
}

button:disabled {
    background-color: #666974;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 2px solid red;
}

.equipement-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3px;
}

.image-preview {
    position:absolute;
    text-align: center;
    top:70%;
    border: 2px solid #1477d4;
    background-color: #d9e9f7da;
    border-radius: 5px;
    box-shadow: 30px 30px 150px #1477d4;
    padding: 5px;
    width: 80%;
    height: 500px;
    overflow-y: scroll;
}

img {
    max-width: 230px;
    max-height: 200px;
    border-radius: 15px;
    border: 1px solid #1477d4;
}