<app-header></app-header>
<div class='afficher-auto'>

    <form class="auto-form" [formGroup]="autForm" (ngSubmit)="onSubmit()">
        <h1>Renseignements de base sur le véhicule</h1>

        <label>Titre du post</label>
        <input name="title" type="text" formControlName="titrePost">

        <label>Prix du véhicle</label>
        <input name="prix" type="number" formControlName="prixPost">
        
        <label>Kilométrage du véhicle</label>
        <input name="km" type="number" formControlName="kilometragePost">

        <label>Marque et modèle du véhicle</label>
        <select name='marque' formControlName="marquePost">
            <option disabled selected value> -- Choisir une option -- </option>
            <option *ngFor="let auto of autoBrandList" value="{{ auto.Marque  }}+{{ auto.Modele }}">
                <b>{{ auto.Marque }}:</b> {{ auto.Modele }}
            </option>
        </select>

        <label>Version du véhicule</label>
        <input name="version" type="text" formControlName="versionPost">

        <label>Motricité du véhicule</label>
        <input name="version" type="text" formControlName="motricitePost">

        <label>Année du véhicle</label>
        <select name='annee' formControlName="annePost">
            <option disabled selected value> -- Choisir une option -- </option>
            <option *ngFor="let number of annees" [value]="number">{{ number }}</option>
        </select>

        <label>État du véhicle</label>
        <select name="etat" formControlName="etat">
            <option disabled selected value> -- Choisir une option -- </option>
            <option value="usage">Usagé</option>
            <option value="nouveau">Nouveau</option>
        </select>
        
        <label>Type de carrosserie</label>
        <select name="carrosserie" formControlName="carrosseriePost">
            <option disabled selected value> -- Choisir une option -- </option>
            <option *ngFor='let carosse of carrosserie' [value]="carosse">{{ carosse }}</option>
        </select>

        <label>Type de carburant</label>
        <select name="carburant" formControlName="carburantPost">
            <option disabled selected value> -- Choisir une option -- </option>
            <option value="Essence">Essence</option>
            <option value="Diesel">Diesel</option>
            <option value="Électrique">Électrique</option>
            <option value="Hybride">Hybride</option>
            <option value="Autres">Autres</option>
        </select>

        <label>Type de transmission</label>
        <select name="carburant" formControlName="transmissionPost">
            <option disabled selected value> -- Choisir une option -- </option>
            <option value="Automatique">Automatique</option>
            <option value="Manuelle">Manuelle</option>
        </select>
        
        <label>Description du véhicle</label>
        <textarea name="Description" rows="8" formControlName="descriptionPost"></textarea>

        <label>Images du véhicule</label>
        <input name="image_un" type="url" formControlName="image_un">
        <input name="image_deux" type="url" formControlName="image_deux">
        <input name="image_trois" type="url" formControlName="image_trois">

        <label>Équipement (facultatif)</label>
        <div class="equipement-input">
            <input name="equipement_un" type="text" formControlName="equipement_un">
            <input name="equipement_deux" type="text" formControlName="equipement_deux">
            <input name="equipement_trois" type="text" formControlName="equipement_trois">
            <input name="equipement_quatre" type="text" formControlName="equipement_quatre">
        </div>

        <button type="button" (click)="showImages()">Images</button>
        <button type="submit" [disabled]="!autForm.valid">Soumettre</button>

        <div class='image-preview' *ngIf="show_images">
            <h2>Vos images</h2>
            <img [src]="img_un" alt="">
            <img [src]="img_deux" alt="">
            <img [src]="img_trois" alt="">
            <button type="button" (click)='show_images = !show_images'>Fermer</button>
        </div>
    </form>
</div>