/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Larsseit,Arial,sans-serif;
}

body {
    height: 50vh;
    background-color: rgb(247, 247, 249);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1477d4; 
    border-radius: 10px;
  }
  


@media only screen and (max-width: 750px) {
    .connexion {
        grid-template-columns: 1fr !important;
    }

    .inscription {
        grid-template-columns: 1fr !important;
    }

    .conn-main {
        padding: 3rem !important;
    }

    .inscr-main {
        padding: 3rem !important;
    }
    
    .info-main {
        padding: 1rem !important;
    }
}

@media only screen and (max-width: 500px) {
    .liste-choix-marques {
        grid-template-columns: 1fr 1fr !important;
    }
}